    footer {
        background: url(../img/footer/footer_bg.svg) no-repeat center center;
        background-size: cover;
        position: relative;
        @media (max-width: 576px) {
            background: url(../img/footer/footer_bg.png) no-repeat center center/cover;
        }
        .container {
            padding: 0 0 25px 0;
            @media (max-width: 990px) {
                padding-top: 25px;
            }
        }
    }
    
    .footer_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 35px;
        padding-top: 15px;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
    }
    
    .footer_left {
        .footer_nav {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 5px;
            }
            li {
                margin: 0 30px;
                @media (max-width: 768px) {
                    margin: 0;
                }
                a {
                    color: #fff;
                    transition: .2s;
                    font: 1.2rem 'Inter', sans-serif;
                    margin-right: 5px;
                    @media (max-width: 1280px) {
                        font: 1.1rem 'Inter', sans-serif;
                    }
                    @media (max-width: 768px) {
                        margin-bottom: 15px;
                        font: 1.125rem 'Inter', sans-serif;
                        display: block;
                    }
                    &:hover {
                        color: #FFCF24;
                    }
                }
            }
        }
        .footer_partner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            border-top: 1px solid rgba(255, 255, 255, .2);
            @media (max-width: 990px) {
                justify-content: space-between;
            }
            @media (max-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                grid-gap: 10px;
            }
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
                margin: 0 30px 0 0;
                @media (max-width: 990px) {
                    margin: 0 15px 0 0;
                }
                @media (max-width: 768px) {
                    max-width: 100%;
                    display: block;
                    height: auto;
                    margin: 0 auto;
                }
            }
            img:last-child {
                @media (max-width: 990px) {
                    margin: 0;
                }
                @media (max-width: 768px) {
                    margin: 0 auto;
                }
            }
        }
    }
    
    .footer_right {
        padding: 15px;
        background: #3B404A;
        box-shadow: 0 -4px 15px rgba(0, 0, 0, .15);
        border-radius: 3px;
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-gap: 10px;
        align-items: center;
        grid-row-start: 1;
        position: relative;
        &::before {
            content: '';
            background: #3B404A;
            height: 100%;
            position: absolute;
            width: 100%;
            left: -100%;
        }
        &::after {
            content: '';
            background: #3B404A;
            height: 100%;
            position: absolute;
            width: 100%;
            right: -100%;
        }
        @media (max-width: 990px) {
            display: none;
        }
        .footer_title {
            text-align: left;
            color: #FFF;
            opacity: .6;
            font: 400 1rem 'Inter', sans-serif;
        }
        .footer_right_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            align-items: center;
            .footer_right_box {
                display: flex;
                cursor: pointer;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover {
                    p {
                        color: #55B56B;
                    }
                }
                .num {
                    transition: .2s;
                    text-align: center;
                    font: bold 2.5rem 'Inter', sans-serif;
                    color: #fff;
                    text-transform: capitalize;
                    @media (max-width: 1280px) {
                        font: bold 1.5rem 'Inter', sans-serif;
                    }
                }
                .text {
                    transition: .2s;
                    text-align: center;
                    color: #fff;
                    font: 400 .95rem 'Inter', sans-serif;
                }
            }
        }
    }
    
    .footer_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            flex-direction: column;
            align-items: flex-start;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
            margin-right: 20px;
            @media (max-width: 990px) {
                margin: 0 0 15px 0;
                max-width: 80px;
            }
        }
        .footer_text {
            font: 400 .9rem/20px 'Inter', sans-serif;
            color: rgba(255, 255, 255, .5);
            a {
                color: #fff;
                margin: 0 3px;
                text-decoration: underline;
                @media (max-width: 768px) {
                    margin: 5px 8px 0 0;
                    display: inline-block;
                }
            }
        }
    }
    
    .cookies {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        right: 0;
        bottom: 0;
        padding: 25px 20px;
        z-index: 99;
        background: #3B404A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
        transform: translateY(100%);
        transition: .2s;
        .cookies_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 990px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;
            }
            p {
                color: #FFF;
                margin-right: 65px;
                font: 400 1rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    grid-column-start: 1;
                    margin: 0;
                    grid-column-end: 3;
                    text-align: center;
                    margin-bottom: 0;
                    font: 400 .9rem 'Inter', sans-serif;
                }
            }
            .link {
                padding: 12px 15px;
                background: #596171;
                border-radius: 3px;
                font: 700 1rem 'Inter', sans-serif;
                color: #FFF;
                margin-right: 15px;
                text-align: center;
                box-sizing: border-box;
                @media (max-width: 990px) {
                    width: 200px;
                    margin: 0 auto;
                    margin-right: 15px;
                }
                @media (max-width: 576px) {
                    width: 100%;
                    margin: 0;
                    font: 700 .87rem 'Inter', sans-serif;
                }
            }
            .check {
                text-align: center;
                padding: 12px 15px;
                background: #55B56B;
                border-radius: 3px;
                box-sizing: border-box;
                font: 700 1rem 'Inter', sans-serif;
                color: #FFF;
                @media (max-width: 990px) {
                    width: 200px;
                    margin: 0 auto;
                    margin-left: 0;
                }
                @media (max-width: 576px) {
                    width: 100%;
                    margin: 0;
                    font: 700 .87rem 'Inter', sans-serif;
                }
            }
        }
        .container {
            position: relative;
        }
        .close_co {
            right: -3px;
            cursor: pointer;
            top: -12px;
            position: absolute;
            @media (max-width: 990px) {
                right: -12px;
                top: -15px;
            }
        }
    }
    
    .cookies_add {
        transform: translateY(0);
    }
    
    .deleted {
        transform: translateY(100%);
        transition: .2s;
    }