.page_casino_container {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-gap: 30px;
    align-items: start;
    @media (max-width: 990px) {
        display: block;
    }
}

.page_casino {
    .show_more {
        display: none;
        @media (max-width: 576px) {
            display: flex;
            align-items: center;
            font: 400 .9rem 'Inter', sans-serif;
            color: #55B56B;
            padding: 0 15px;
            margin-bottom: 15px;
        }
        img {
            position: relative;
            left: 5px;
            top: 1.5px;
        }
    }
    .hide_text {
        @media (max-width: 576px) {
            height: 120px;
            overflow: hidden;
        }
    }
    .hide_text_active {
        height: auto;
    }
    .casino_title_box {
        padding: 15px 30px;
        background: #55B56B;
        border-radius: 7px 7px 0 0;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            padding: 12px 15px;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
    }
    .simple_casino_text {
        color: #fff;
        padding: 0 30px;
        margin-bottom: 35px;
        font: 300 .95rem/22px 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 300 .87rem/20px 'Inter', sans-serif;
            padding: 0 15px;
            margin-bottom: 10px;
        }
        a {
            text-decoration: underline;
            color: #3aa4dd;
        }
        span {
            text-decoration: none;
            color: #3aa4dd;
        }
    }
    .simple_casino_title {
        color: #fff;
        font: 700 1.25rem 'Inter', sans-serif;
        margin-bottom: 10px;
        padding: 0 30px;
        @media (max-width: 990px) {
            font: 700 1.125rem 'Inter', sans-serif;
            padding: 0 15px;
        }
    }
    .page_casino_boxs {
        margin-bottom: 25px;
        background: #3B404A;
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        border-radius: 7px;
        padding-bottom: 25px;
        @media (max-width: 990px) {
            padding-bottom: 15px;
            margin: 0;
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            padding-bottom: 15px;
            margin: 0 10px;
            margin-bottom: 20px;
        }
    }
    .margin_none {
        margin: 0;
    }
    .page_about_casino {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 3fr 2fr;
        padding: 20px 30px;
        @media (max-width: 1280px) {
            padding: 15px 20px;
        }
        @media (max-width: 990px) {
            padding: 15px;
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }
        .about_casino_name {
            .casino_img {
                height: 180px;
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;
                border-radius: 5px;
                @media (max-width: 576px) {
                    height: 140px;
                }
                p {
                    color: #fff;
                    position: absolute;
                    left: 20px;
                    font: 700 1.5rem 'Inter', sans-serif;
                    bottom: 10px;
                }
                img {
                    height: 100%;
                    box-sizing: border-box;
                    object-fit: cover;
                    @media (max-width: 990px) {
                        width: 100%;
                    }
                }
            }
            .casino_btn {
                display: flex;
                align-items: center;
                @media (max-width: 1280px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .visit_casino {
                    margin-right: 25px;
                    padding: 15px;
                    color: #fff;
                    background: #55B56B;
                    border-radius: 3px;
                    max-width: 200px;
                    text-align: center;
                    font: 700 1.125rem 'Inter', sans-serif;
                    width: 100%;
                    box-sizing: border-box;
                    @media (max-width: 1280px) {
                        max-width: 100%;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
                .country {
                    display: flex;
                    align-items: center;
                    img {
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    p {
                        font: 400 .95rem 'Inter', sans-serif;
                        color: #fff;
                        @media (max-width: 1280px) {
                            font: 400 .9rem 'Inter', sans-serif;
                        }
                    }
                }
            }
        }
        .casino_star_wrap {
            padding: 10px 15px;
            background: #596171;
            border-radius: 5px;
            margin-bottom: 30px;
            min-height: 160px;
            @media (max-width: 990px) {
                padding: 10px;
                min-height: auto;
                margin-bottom: 15px;
            }
            .all_star_box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 6px;
                .title {
                    color: #FFC850;
                    margin-right: 10px;
                    font: 400 .95rem 'Inter', sans-serif;
                }
                .star_all {
                    color: #FFC850;
                    font: 700 1.125rem 'Inter', sans-serif;
                    span {
                        font: 500 .95rem 'Inter', sans-serif;
                    }
                }
            }
            .catagory_star_wrap {
                display: grid;
                grid-template-columns: 130px 1fr;
                grid-gap: 10px;
                align-items: center;
                margin-bottom: 10px;
                @media (max-width: 420px) {
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                }
                p {
                    color: rgba(255, 255, 255, 0.3);
                    font: 400 .95rem 'Inter', sans-serif;
                }
                .star_box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    @media (max-width: 420px) {
                        justify-content: flex-start;
                    }
                    img {
                        margin-left: 5px;
                        @media (max-width: 420px) {
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
            .catagory_star_wrap:last-child {
                margin: 0;
            }
        }
        .info_update {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 1400px) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
                display: grid;
            }
            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .casino_post:last-child {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .casino_post {
                display: flex;
                align-items: center;
                .title,
                .data {
                    color: #FFF;
                    margin-right: 5px;
                    opacity: .5;
                    font: 400 .95rem 'Inter', sans-serif;
                }
                .name {
                    color: #FFF;
                    margin-right: 5px;
                    opacity: 1;
                    text-decoration: underline;
                    font: 400 .95rem 'Inter', sans-serif;
                }
            }
        }
    }
    .page_casino_navigation {
        background: #3B404A;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }
        @media (max-width: 990px) {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 5px;
            overflow-y: scroll;
        }
        @media (max-width: 576px) {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        a {
            white-space: nowrap;
            padding: 9px 12px;
            text-align: center;
            display: block;
            color: #fff;
            text-transform: capitalize;
            font: 400 1rem 'Inter', sans-serif;
            transition: .2s;
            @media (max-width: 990px) {
                min-width: 110px;
            }
            &:hover {
                background: #596171;
                border-radius: 2px;
            }
        }
    }
    .page_casino_previews {
        margin-bottom: 25px;
        @media (max-width: 575px) {
            margin: 0 10px;
            margin-bottom: 15px;
        }
        .previevs_title {
            color: #fff;
            margin-bottom: 10px;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        .casino_previews_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 1200px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 990px) {
                overflow-y: scroll;
                padding-bottom: 10px;
                grid-template-columns: 130px 130px 130px 130px 130px 130px;
            }
            .casino_previews_box {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                    object-fit: cover;
                    margin-bottom: 10px;
                    width: 100%;
                    border-radius: 5px;
                }
                p {
                    color: #fff;
                    text-align: center;
                    font: 400 1rem 'Inter', sans-serif;
                }
            }
        }
    }
    .detail_elements_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        @media (max-height: 990px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        li {
            font: 400 .87rem 'Inter', sans-serif;
            color: #fff;
        }
        .active_more {
            display: flex;
            flex-direction: column;
            ul {
                display: none;
            }
            li {
                display: block;
            }
            p {
                display: flex;
                align-items: center;
            }
            span {
                position: relative;
                right: -5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5px;
                border: 1px solid #fff;
                width: 5px;
                padding: 5px;
                border-radius: 4px;
            }
        }
        .active_more_click {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 10px;
                margin-top: 10px;
                @media (max-height: 990px) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
                li {
                    display: block;
                }
            }
        }
    }
    .detail_block {
        display: block;
        .empty_element {
            display: none;
        }
    }
    .page_casino_hits {
        margin-bottom: 25px;
        @media (max-width: 576px) {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        .hits_title {
            color: #fff;
            margin-bottom: 10px;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        .details_tabs {
            background: #3B404A;
            border: 2px solid #55B56B;
            box-sizing: border-box;
            border-radius: 5px;
        }
        .red_active_border {
            border: 2px solid #E09B57;
        }
        .tabs__caption {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                background: #596171;
                padding: 15px 30px;
                color: #fff;
                opacity: .7;
                display: flex;
                align-items: center;
                cursor: pointer;
                font: 400 1.2rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 400 1rem 'Inter', sans-serif;
                    padding: 10px 15px;
                }
                @media (max-width: 576px) {
                    font: 400 .9rem 'Inter', sans-serif;
                }
                img {
                    margin-right: 5px;
                    position: relative;
                    @media (max-width: 350px) {
                        display: none;
                    }
                }
            }
            .active {
                opacity: 1;
                background: #55B56B;
            }
            .red_active {
                background: #E09B57;
            }
        }
        .tabs_detail_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px 30px;
            padding: 25px 30px;
            @media (max-width: 990px) {
                padding: 20px;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
            @media (max-width: 576px) {
                grid-template-columns: 1fr;
                grid-gap: 15px;
            }
            li {
                color: #fff;
                font: 400 .95rem 'Inter', sans-serif;
                position: relative;
                padding-left: 9px;
                &::after {
                    content: '+';
                    position: absolute;
                    left: -8px;
                    top: -2px;
                    color: #55B56B;
                }
            }
        }
        .tabs__content:last-child {
            li {
                &::after {
                    content: '-';
                    color: #E09B57;
                }
            }
        }
    }
    .page_casino_details {
        background: #3B404A;
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        border-radius: 7px;
        margin-bottom: 20px;
        @media (max-width: 576px) {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        .tabs__caption {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                background: #596171;
                padding: 15px 30px;
                color: #fff;
                opacity: .7;
                display: flex;
                align-items: center;
                cursor: pointer;
                font: 400 1.2rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 400 1rem 'Inter', sans-serif;
                    padding: 10px 15px;
                }
                @media (max-width: 576px) {
                    font: 400 .9rem 'Inter', sans-serif;
                }
                img {
                    margin-left: 10px;
                    position: relative;
                    top: 1.5px;
                    @media (max-width: 990px) {
                        top: 0;
                        margin-left: 5px;
                    }
                    @media (max-width: 350px) {
                        display: none;
                    }
                }
            }
            .active {
                opacity: 1;
                background: transparent;
            }
        }
        .tabs_detail_wrap {
            padding: 15px 30px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            @media (max-width: 990px) {
                padding: 10px 15px;
            }
            .detail_box {
                display: grid;
                grid-template-columns: 150px 1fr;
                grid-gap: 15px;
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                }
                .detail_title {
                    color: #fff;
                    font: 400 .95rem 'Inter', sans-serif;
                    @media (max-width: 340px) {
                        font: 400 .9rem 'Inter', sans-serif;
                    }
                }
                .detail_elements {
                    font: 400 .95rem 'Inter', sans-serif;
                    color: #28ADFF;
                    @media (max-width: 340px) {
                        font: 400 .9rem 'Inter', sans-serif;
                    }
                    a,
                    span,
                    p {
                        font: 400 .95rem 'Inter', sans-serif;
                        color: #28ADFF;
                        @media (max-width: 340px) {
                            font: 400 .9rem 'Inter', sans-serif;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .casino_bonuses {
        margin: 0;
        margin-bottom: 30px;
        @media (max-width: 576px) {
            margin: 0 10px 25px 10px;
        }
        .bonus_title {
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        .generate_casino_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            @media (max-width: 1240px) {
                width: 750px;
                margin: 0 auto;
                padding-bottom: 10px;
                overflow-y: scroll;
                grid-template-columns: 180px 180px 180px 180px 180px;
            }
            @media (max-width: 1100px) {
                width: 700px;
            }
            @media (max-width: 1100px) {
                width: 625px;
            }
            @media (max-width: 990px) {
                width: 100%;
                box-sizing: border-box;
            }
        }
        .generate_casino_box {
            padding: 0;
            background: #596171;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .copyinfo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 12px;
                .copyinfo_text {
                    color: #fff;
                    margin-right: 8px;
                    font: 400 .9rem 'Inter', sans-serif;
                }
                .copy_suc {
                    display: none;
                }
                img {
                    cursor: pointer;
                }
                .none {
                    font: 400 .9rem 'Inter', sans-serif;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .suces {
                .copyinfo_text {
                    display: none;
                }
                img {
                    display: none;
                }
                .copy_suc {
                    color: #55B56B;
                    display: block;
                    font: 400 .9rem 'Inter', sans-serif;
                }
            }
            .generate_casino_img {
                background: #fff;
                border-radius: 5px 5px 0 0;
                padding: 25px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                img {
                    object-fit: contain;
                    max-width: 100%;
                    height: auto;
                }
            }
            .generate_brend_img {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                img {
                    object-fit: contain;
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .coll_star {
                text-align: center;
                padding: 0 10px;
                margin-bottom: 10px;
                color: #fff;
                font: 400 1.125rem 'Inter', sans-serif;
            }
            .generate_casino_title {
                font: 400 .9rem 'Inter', sans-serif;
                margin-bottom: 5px;
                color: rgba(255, 255, 255, 0.5);
                text-align: center;
                padding: 0 20px;
            }
            .generate_casino_bonus {
                color: #fff;
                text-align: center;
                padding: 0 20px;
                margin-bottom: 10px;
                font: 700 .87rem/20px 'Inter', sans-serif;
            }
            .generate_casino_info {
                color: #fff;
                opacity: .5;
                cursor: pointer;
                padding: 0 20px;
                text-align: center;
                font: 400 .75rem 'Inter', sans-serif;
                text-align: center;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 15px;
                &:hover {
                    color: #0185FF;
                }
            }
            .generate_casino_btn {
                text-transform: uppercase;
                background: #55B56B;
                border-radius: 3px;
                padding: 10px;
                width: 85%;
                margin: 0 auto;
                display: block;
                color: #fff;
                font: 700 1rem 'Inter', sans-serif;
                box-sizing: border-box;
                text-align: center;
                margin-bottom: 12px;
                transition: .2s;
                &:hover {
                    background: #2d9b47;
                }
            }
            .btn_disabled {
                pointer-events: none;
                background: #444A56;
                color: #B4B4B4;
            }
        }
    }
    .app_casino {
        .app_casino_info {
            padding: 15px;
            background: #596171;
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);
            border-radius: 7px;
            margin: 0 30px;
            @media (max-width: 990px) {
                margin: 0 15px;
            }
            .app_casino_title {
                text-align: center;
                color: #fff;
                margin-bottom: 10px;
                color: #fff;
                font: 700 1.2rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 700 1.1rem 'Inter', sans-serif;
                }
            }
            .app_casino_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .app_casino_box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 20px;
                    img {
                        margin-bottom: 5px;
                    }
                    p {
                        font: 400 1.1rem 'Inter', sans-serif;
                        color: #fff;
                    }
                }
            }
        }
    }
    .total_info {
        .total_title_games {
            text-align: center;
            margin-bottom: 10px;
            color: #fff;
            font: 700 1.2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.1rem 'Inter', sans-serif;
            }
        }
        .total_games_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
            padding: 20px;
            margin: 0 30px;
            margin-bottom: 25px;
            background: #596171;
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);
            border-radius: 7px;
            @media (max-width: 1200px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px 15px;
            }
            @media (max-width: 990px) {
                margin: 0 15px;
                margin-bottom: 15px;
            }
            .total_games_box {
                display: flex;
                pointer-events: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 3px solid #8E98AC;
                box-sizing: border-box;
                border-radius: 5px;
                opacity: .4;
                img {
                    object-fit: contain;
                    margin-top: 10px;
                }
                p {
                    color: #fff;
                    padding: 15px;
                    text-align: center;
                    font: 400 1rem 'Inter', sans-serif;
                }
            }
            .total_games_box_active {
                opacity: 1;
                pointer-events: auto;
                position: relative;
                &::before {
                    content: url(../img/page_casino/check.svg);
                    position: absolute;
                    left: -12px;
                    top: -12px;
                }
            }
        }
        .devices_tabs {
            margin: 0 30px;
            @media (max-width: 990px) {
                margin: 0 15px;
            }
            .tabs__caption {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                bottom: -5px;
                z-index: 9;
                @media (max-width: 1400px) {
                    justify-content: space-around;
                }
                li {
                    cursor: pointer;
                    color: #fff;
                    opacity: .7;
                    margin: 0 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 10px 30px;
                    font: 500 1.2rem 'Inter', sans-serif;
                    @media (max-width: 1400px) {
                        margin: 0;
                    }
                    @media (max-width: 990px) {
                        margin: 0 10px;
                        padding: 10px 20px;
                    }
                    @media (max-width: 990px) {
                        text-align: center;
                        font: 500 1rem 'Inter', sans-serif;
                    }
                    @media (max-width: 380px) {
                        margin: 0;
                        font: 500 .95rem 'Inter', sans-serif;
                    }
                    @media (max-width: 340px) {
                        padding: 10px;
                        margin: 0;
                        font: 500 .95rem 'Inter', sans-serif;
                    }
                }
                .active {
                    opacity: 1;
                    color: #55B56B;
                    position: relative;
                    &::before {
                        content: '';
                        height: 5px;
                        width: 100%;
                        background: #55B56B;
                        border-radius: 5px;
                        box-sizing: border-box;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 9;
                    }
                }
            }
            .tabs__content {
                border: 5px solid #596171;
                box-sizing: border-box;
                border-radius: 7px;
                padding: 20px;
                @media (max-width: 990px) {
                    padding: 15px 10px;
                }
                .tabs__content_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    @media (max-width: 576px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 10px;
                    }
                    img {
                        object-fit: contain;
                        margin: 10px;
                        @media (max-width: 576px) {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .payments_box {
        .payment_table_wrap {
            padding: 15px 30px;
            background: #596171;
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);
            border-radius: 7px;
            margin: 0 30px;
            margin-bottom: 20px;
            @media (max-width: 990px) {
                padding: 15px 10px;
                margin: 0 15px;
                margin-bottom: 20px;
            }
            .table_title {
                margin-bottom: 10px;
                font: 700 1.2rem 'Inter', sans-serif;
                color: #fff;
                @media (max-width: 990px) {
                    text-align: center;
                    font: 700 1.125rem 'Inter', sans-serif;
                }
            }
            table {
                border: 1px solid rgba(255, 255, 255, .2);
                border-radius: 5px;
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
                table-layout: fixed;
            }
            .center {
                text-align: center;
                @media (max-width: 990px) {
                    text-align: right;
                }
            }
            table tr {
                padding: .35em;
            }
            thead th {
                color: #fff;
                font: 400 1rem 'Inter', sans-serif;
                padding: 10px;
            }
            table th,
            table td {
                padding: 10px;
                text-align: left;
                color: #fff;
                font: 400 1rem 'Inter', sans-serif;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                border-right: 1px solid rgba(255, 255, 255, .2);
            }
            @media (max-width: 990px) {
                table {
                    padding: 0;
                }
                table th,
                table td {
                    border-right: none;
                }
                table {
                    border: 0;
                }
                table caption {
                    font-size: 1.3em;
                }
                table thead {
                    display: none;
                }
                table tr {
                    border-right: none;
                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                    display: block;
                    margin-bottom: 10px;
                    padding: 0;
                    background: #596171;
                }
                table tr:last-child {
                    margin: 0;
                }
                table td {
                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                    display: block;
                    font-size: .87rem;
                    text-align: right;
                    min-height: 30px;
                }
                table td:before {
                    content: attr(aria-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                table td:last-child {
                    border-bottom: none;
                }
            }
        }
        .payment_table_wrap:last-child {
            margin-bottom: 0;
        }
    }
    .page_casino_support {
        .custom_support_wrap {
            padding: 20px;
            margin: 0 30px;
            background: #596171;
            box-shadow: 0 0 10px rgba(0, 0, 0, .05);
            border-radius: 7px;
            @media (max-width: 990px) {
                padding: 15px;
                margin: 0 15px;
            }
            .title {
                margin-bottom: 10px;
                color: #fff;
                font: 700 1.2rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    text-align: center;
                    font: 700 1.1rem 'Inter', sans-serif;
                }
            }
            .services_wrap {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 15px;
                @media (max-width: 990px) {
                    margin: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 15px;
                }
                .services_box:first-child {
                    img {
                        position: relative;
                        top: 15px;
                    }
                }
                .services_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-right: 40px;
                    margin-bottom: 10px;
                    height: 76px;
                    @media (max-width: 990px) {
                        margin: 0;
                    }
                    .star_wraper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            margin: 0 3px;
                        }
                    }
                    img {
                        margin-bottom: 15px;
                        @media (max-width: 990px) {
                            margin-bottom: 10px;
                        }
                    }
                    p {
                        font: 400 1.125rem 'Inter', sans-serif;
                        color: #fff;
                        @media (max-width: 990px) {
                            font: 400 1rem 'Inter', sans-serif;
                        }
                    }
                }
                .services_box_disabled {
                    opacity: .3;
                }
                .services_box:last-child {
                    @media (max-width: 990px) {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }
            .none_mob {
                @media (max-width: 990px) {
                    display: none;
                }
            }
            .lang_wrap {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                @media (max-width: 990px) {
                    display: none;
                }
                .lang_box {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    justify-content: center;
                    flex-direction: column;
                    p {
                        color: #fff;
                        font: 400 .87rem 'Inter', sans-serif;
                    }
                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .page_casino_conclus {
        padding: 20px;
        background: #55B56B;
        border-radius: 7px;
        margin-bottom: 30px;
        @media (max-width: 990px) {
            padding: 15px;
        }
        @media (max-width: 576px) {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        .conclus_title_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .conclus_title {
                color: #fff;
                font: 700 1.25rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 700 1.125rem 'Inter', sans-serif;
                }
            }
            .conclus_star {
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        .conclus_star {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img {
                @media (max-width: 576px) {
                    max-width: 15px;
                    max-height: 15px;
                }
            }
            .star_all {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .star_full {
                margin: 0 3px;
                display: flex;
                align-items: center;
            }
            .star_med {
                margin: 0 3px;
                display: flex;
                align-items: center;
            }
            .star_dis {
                margin: 0 3px;
                display: flex;
                align-items: center;
            }
            .all_star_text {
                font: 700 1.25rem 'Inter', sans-serif;
                color: #fff;
                margin-left: 5px;
                @media (max-width: 990px) {
                    font: 700 1rem 'Inter', sans-serif;
                }
                span {
                    font: 700 1.125rem 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        font: 700 .9rem 'Inter', sans-serif;
                    }
                }
            }
        }
        .star_mob {
            display: none;
            @media (max-width: 990px) {
                display: flex;
                margin-top: 10px;
                flex-direction: column-reverse;
                align-items: flex-start;
            }
            .all_star_text {
                margin-bottom: 5px;
            }
        }
        .conclus_text {
            color: #fff;
            font: 300 .95rem/22px 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 300 .87rem/20px 'Inter', sans-serif;
            }
        }
    }
    .author_post_wrap {
        padding: 20px 25px;
        background: #3B404A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 7px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 20px;
        position: relative;
        .horse {
            position: absolute;
            right: -22px;
            top: -22px;
            @media (max-width: 990px) {
                right: -10px;
                top: -20px;
            }
        }
        @media (max-width: 990px) {
            grid-template-columns: 55px 1fr;
            padding: 15px;
            grid-gap: 10px;
            align-items: center;
        }
        @media (max-width: 576px) {
            margin: 0 10px;
            margin-bottom: 20px;
        }
        img {
            border-radius: 50%;
            max-width: 100%;
            object-fit: cover;
            @media (max-width: 990px) {
                max-width: 55px;
                max-height: 55px;
            }
        }
        .author_post_info {
            .pretitle {
                color: #fff;
                margin-bottom: 5px;
                font: 400 .95rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    margin: 0;
                }
            }
            .name {
                color: #fff;
                margin-bottom: 5px;
                font: 700 1.5rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    margin: 0;
                    font: 700 1.25rem 'Inter', sans-serif;
                }
            }
            .description {
                color: #fff;
                font: 400 .87rem/20px 'Inter', sans-serif;
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        .mob_elem {
            display: none;
            color: #fff;
            font: 400 .87rem/20px 'Inter', sans-serif;
            @media (max-width: 990px) {
                display: block;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
    .generate_casino {
        margin: 0;
        @media (max-width: 576px) {
            margin: 0 10px;
        }
        .generate_casino_title {
            font: 700 1.5rem 'Inter', sans-serif;
            text-align: center;
            color: #fff;
            margin-bottom: 5px;
            @media (max-width: 990px) {
                font: 700 1.25rem 'Inter', sans-serif;
            }
        }
        .generate_casino_text {
            text-align: center;
            max-width: 720px;
            margin: 0 auto;
            color: #fff;
            margin-bottom: 15px;
            font: 400 .95rem/22px 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 400 .87rem/20px 'Inter', sans-serif;
            }
        }
        .hide_text {
            overflow: hidden;
            height: 43px;
        }
        .hide_text_active {
            height: auto;
        }
        .show_more {
            cursor: pointer;
            font: 400 .9rem 'Inter', sans-serif;
            color: #55B56B;
            margin-bottom: 15px;
            display: block;
            img {
                position: relative;
                top: 1.5px;
            }
        }
        .generate_custom_casino {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
            @media (max-width: 1280px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 990px) {
                grid-template-columns: 1fr 1fr;
                margin-bottom: 15px;
            }
        }
        .generate_casino_box {
            padding: 0;
            background: #292A2E;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .generate_casino_img {
                background: #fff;
                border-radius: 5px 5px 0 0;
                padding: 25px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                img {
                    object-fit: contain;
                    max-width: 100%;
                    height: auto;
                }
            }
            .generate_brend_img {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                img {
                    object-fit: contain;
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .coll_star {
                text-align: center;
                padding: 0 10px;
                margin-bottom: 10px;
                color: #fff;
                font: 400 1.125rem 'Inter', sans-serif;
            }
            .generate_casino_title {
                font: 400 .95rem 'Inter', sans-serif;
                margin-bottom: 5px;
                color: #fff;
                padding: 0 20px;
            }
            .generate_casino_bonus {
                color: #55B56B;
                text-align: center;
                padding: 0 20px;
                margin-bottom: 7px;
                font: 700 .87rem/20px 'Inter', sans-serif;
            }
            .generate_casino_info {
                color: #fff;
                opacity: .5;
                cursor: pointer;
                padding: 0 20px;
                text-align: center;
                font: 400 .75rem 'Inter', sans-serif;
                text-align: center;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 15px;
                &:hover {
                    color: #0185FF;
                }
            }
            .generate_casino_btn {
                text-transform: uppercase;
                background: #55B56B;
                border-radius: 3px;
                padding: 10px;
                width: 85%;
                margin: 0 auto;
                display: block;
                color: #fff;
                font: 700 1rem'Inter', sans-serif;
                box-sizing: border-box;
                text-align: center;
                margin-bottom: 5px;
                transition: .2s;
                &:hover {
                    background: #2d9b47;
                }
            }
        }
    }
}

.copyinfo {
    position: relative;
}

.copy_img {
    cursor: pointer;
    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}