.sidebar {
    margin-bottom: 20px;
    @media (max-width: 576px) {
        padding: 0 10px;
    }
}

.siderbar_visited {
    padding: 10px 15px;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-bottom: 15px;
    .siderbar_visited_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        .siderbar_visited_img {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 8px;
                max-width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            p {
                color: #fff;
                max-width: 100px;
                font: 400 1rem 'Inter', sans-serif;
            }
        }
        .visited_btn {
            font: 700 1rem 'Inter', sans-serif;
            padding: 9px 12px;
            color: #fff;
            text-transform: uppercase;
            background: #55B56B;
            border-radius: 2px;
        }
    }
    .siderbar_visited_box:last-child {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.sidebar_guides {
    padding: 10px 0;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-bottom: 15px;
    .sidebar_title {
        margin-left: 15px;
        color: #fff;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .sidebar_guides_box {
        padding: 7px 15px;
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-gap: 10px;
        align-items: center;
        transition: .2s;
        &:hover {
            background: #596171;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
        }
        p {
            color: #fff;
            font: 400 1rem/24px 'Inter', sans-serif;
        }
    }
    .sidebar_guides_box:last-child {
        margin: 0;
    }
}

.sidebar_chek {
    padding: 10px 0;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-bottom: 15px;
    .sidebar_title {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
        color: #fff;
    }
    .sidebar_guides_box {
        padding: 5px 15px;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 10px;
        align-items: center;
        transition: .2s;
        &:hover {
            background: #596171;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 10px;
        }
        p {
            color: #fff;
            font: 400 .87em 'Inter', sans-serif;
        }
    }
    .sidebar_guides_box:last-child {
        margin: 0;
    }
}

.sidebar_interview {
    padding: 10px 15px;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
    .sidebar_title {
        color: #fff;
        font: 700 .95rem/22px 'Inter', sans-serif;
    }
    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 8px;
        input {
            margin: 0;
            margin-right: 10px;
            width: 17px;
            height: 17px;
            outline: none;
        }
        p {
            color: #fff;
            font: 400 .95rem 'Inter', sans-serif;
        }
    }
    .sidebar_interview_wrap {
        margin-bottom: 12px;
        label:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
    }
    .send_inter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            appearance: none;
            outline: none;
            border: none;
            padding: 5px 10px;
            color: #B4B4B4;
            border-radius: 2px;
            cursor: pointer;
            background: rgba(89, 97, 113, .3);
            font: 700 .95rem 'Inter', sans-serif;
            img {
                margin-left: 5px;
                position: relative;
                top: 1px;
            }
        }
    }
}

.sidebar_title {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    text-align: center;
    color: #fff;
    font: 700 1.2rem 'Inter', sans-serif;
}

.sidebar_top {
    padding: 20px 10px;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 10px;
    }
    .name_top {
        color: #fff;
        margin-bottom: 12px;
        font: 600 1.375rem 'Inter', sans-serif;
    }
    .visit_top {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 50px;
        font: 600 1.1rem 'Inter', sans-serif;
        text-align: center;
        background: #55B56B;
        border-radius: 3px;
    }
}

.poll_table {
    position: fixed;
    right: 10%;
    bottom: 0;
    z-index: 99;
    max-width: 250px;
    @media (max-width: 576px) {
        right: 5%;
    }
    .suc_poll_box {
        display: none;
        padding: 10px 15px;
        background: #3B404A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 10%);
        border-radius: 3px;
        p {
            font: 700 .95rem/22px 'Inter', sans-serif;
            text-align: center;
            color: #fff;
            margin-bottom: 8px;
        }
        .suc_poll_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .suc_poll {
            text-align: center;
            padding: 5px 8px;
            background: #55B56B;
            border-radius: 3px;
            font: 700 .87rem 'Inter', sans-serif;
            color: #FFF;
        }
    }
    .call_poll {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        bottom: -1.5px;
        position: relative;
        cursor: pointer;
        span {
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            border-radius: 5px 5px 0px 0px;
            background: #3B404A;
        }
    }
    .sidebar_interview {
        display: none;
    }
    .send_inter {
        button {
            background: #55B56B;
            color: #fff;
            opacity: 1;
        }
    }
}

.poll_table_suc {
    .suc_poll_box {
        display: block;
    }
    .sidebar_interview {
        display: none;
    }
}

.poll_table_act {
    .suc_poll_box {
        display: none;
    }
    .sidebar_interview {
        display: block;
    }
}